<mat-table [dataSource]="courses">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell class="category" *matCellDef="let course">
      {{ course.category }}
      <mat-icon aria-label="Categoria do Curso" aria-hidden="false">{{
        course.category | category
      }}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button
        (click)="onAdd()"
        mat-mini-fab
        color="primary"
        aria-label="Adicionar um curso"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let course">
      <button mat-icon-fab aria-label="Editar curso" (click)="onEdit(course)">
        <mat-icon color="secondary">edit</mat-icon>
      </button>

      <button
        mat-icon-fab
        aria-label="Remover curso"
        (click)="onDelete(course)"
      >
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
